# Reporte de analisis I

## Importadon base de datos

In [1]:
import pandas as pd

In [4]:
datos = pd.read_csv('../Pandas/data/alquiler.csv', sep = ';')

In [5]:
datos

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Habitación,Pachacámac,0,0,0,27,800.0,350.0,25.0
32956,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0
32957,Departamento,Rímac,2,1,0,48,1400.0,509.0,37.0
32958,Departamento,Rímac,2,0,0,70,3000.0,760.0,NaN
32959,Local comercial,Pachacámac,0,0,0,250,6500.0,4206.0,1109.0

In [6]:
type(datos)

pandas.core.frame.DataFrame

In [7]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tipo           32960 non-null  object
 1   Distrito       32960 non-null  object
 2   Cuartos        32960 non-null  int64
 3   Vacantes       32960 non-null  int64
 4   Suites         32960 non-null  int64
 5   Area           32960 non-null  int64
 6   Valor          32943 non-null  float64
 7   Mantenimiento  28867 non-null  float64
 8   Impuesto       22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [8]:
datos.head()

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN

## Informaciones generales sobre la base de datos

In [10]:
datos.dtypes

Tipo              object
Distrito          object
Cuartos            int64
Vacantes           int64
Suites             int64
Area               int64
Valor            float64
Mantenimiento    float64
Impuesto         float64
dtype: object

In [11]:
# convertir datos.dtypes a DataFrame
tipos_de_datos = pd.DataFrame(datos.dtypes, columns = ['Tipo de Datos'])

In [12]:
# poner nombre a la primera columna
tipos_de_datos.columns.name = 'Variables'

In [13]:
tipos_de_datos

Variables     Tipo de Datos
Tipo                 object
Distrito             object
Cuartos               int64
Vacantes              int64
Suites                int64
Area                  int64
Valor               float64
Mantenimiento       float64
Impuesto            float64

In [14]:
#traer el numero de filas y el numero de columnas
datos.shape

(32960, 9)

In [15]:
# solo el numero de filas
datos.shape[0]

32960

In [16]:
# solo el numero de columnas
datos.shape[1]

9

In [17]:
print(f'El conjunto de datos tiene {datos.shape[0]} filas y {datos.shape[1]} columnas')

El conjunto de datos tiene 32960 filas y 9 columnas